<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cheese.radio">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"> </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"> </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK"> </uses-permission>

<application
        android:name=".ui.IkeApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.home.HomeActivity"/>
        <activity android:name=".ui.startup.StartUpActivity">

        </activity>
        <activity android:name=".ui.media.anchors.AnchorsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.user.login.LoginActivity"/>
        <activity android:name=".ui.user.guide.GuideActivity"/>
        <activity android:name=".ui.user.profile.ProfileActivity" android:label="个人信息">

        </activity>
        <activity android:name=".ui.user.edit.EditNameActivity" android:label="昵称"/>
        <activity android:name=".ui.user.enroll.EnrollActivity" android:label="报名">

        </activity>
    </application>
</manifest>
